@import "./base.scss";

#app {
  a {
    color: var(--color-primary);

    &:link,
    &:visited,
    &:active {
      color: var(--color-primary);
    }
  }

  .main-container {
    margin: 3rem;
    min-height: 100vh;
  }

  h1 {
    text-align: center;
    font-size: 2.6em;
    margin-bottom: 2rem;
    color: var(--color-black-soft);
  }
}
